header {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    display: block;
    padding: 0 20% 0 20%;

    img {
        float: left;
        height: 100px;
        padding: 0;
    }

    ul {
        list-style-type: none;
        overflow: hidden;
        height: 100px;
        li {
            float: right;
            text-align: center;
            vertical-align: middle;
            a {
                font-size: 20px;
                color: rgb(31, 29, 29);
                display: block;
                text-align: center;
                margin: 48px 30px;
                text-decoration: none;

                &:hover {
                    
                }
            }
        }
    }

    #menu-icon {
        display: none;
    }
}

@media(max-width: 1320px) {
    
    header {
        display: flex;
        text-align: center;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        
        margin-top: 5px;
        margin-bottom: 5px;
        ul {
            display: none;
        }

        #menu-icon {
            display: inline;
            cursor: pointer;
            font-size: 30px;
            padding-top: 20px;
            padding-left: 40px;
        }
    }
}

@media(max-width: 300px) {

    header {
        #menu-icon {
            padding-left: 10px;
                }
    }
    
}