@mixin linkButtons() {
    background: rgb(224, 8, 8);
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding: 1em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;

    transition: 0.5s ease-out;

    &:hover {
        background: white;
        color: black;
    }


}

/* ===== HOME ===== */

.home {
    background: url(../img/violin1.jpg) no-repeat center
    center/cover;
    color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;

    h1 {
        font-size: 80px;
        margin: 10px;
    }

    p {
        font-size: 20px;
    }

    a {
        @include linkButtons();
    }
}