.columns-item {
    margin-top: 100px;
    padding: 0 20% 100vh 20%;
    
    .left-column-item {
        float: left;
        width: 50%;
        padding-right: 5%;
        
        img {
            width: 32.5%;
            cursor: pointer;
        }

        .small-img:hover {
            transition: 0.5s;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        #big-img {
            width: 100%;
            margin-bottom: 60px;
            cursor: auto;
        }
    } 

    .right-column-item {
        float: right;
        width: 45%;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
        
        
        h1 {
            margin: 0;
            font-size: 40px;
        }

        #item-price {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

        #quantity {
            border: none;
            background-color: rgb(245, 245, 245);
            padding: 20px;
        }

        #to-cart-btn {
            background: rgb(224, 8, 8);
            border: none;
            font-weight: bold;
            font-size: 14px;
            color: white;
            padding: 20px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 3px;
            cursor: pointer;
        
            transition: 0.5s ease-out;
        
            &:hover {
                background: black;
            }
        }
    }
}



@media(max-width: 1530px) {

    .columns-item {
        padding: 0 10%;
    }
}

@media(max-width: 1300px) {

    .columns-item {
        padding: 0 5%;
    }
}

@media(max-width: 1025px) {

    .columns-item {
        padding: 0 1% 70vh 1%;
    }
}

@media(max-width: 940px) {

    .columns-item {
        padding: 0 1%;
        float: none;
        display: flex;
        align-items: top;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
        width: 100%;
        margin-top: 100px;

        .left-column-item {
            float: none;
            width: 600px;
            padding: 0;

            img {
                width: 25%;
            }
    
            #big-img {
                width: 100%;
                margin-bottom: 60px;
            }
        } 

        .right-column-item {
            float: none;
            width: 600px;
            margin-top: 100px;
        }   
        
    }
}

@media(max-width: 600px) {

    .right-column-item {
        
        .about-item {
            padding: 0 10px;
            
        }
    }  
}