@import "./header";
@import "./index";
@import "./footer";
@import "./item";
@import "./store";
@import "./services";
@import "./contact";

html,body{
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Markazi Text', serif;
    letter-spacing: 3px;
}

/* ===== CONTAINER ===== */

.container {
    padding: 0 20% 0 20%;

    .titles {
        font-size: 25px;
        text-align: center;
        width: 100%; 
        border-bottom: 1px solid #000; 
        line-height: 0.1em;
        margin: 10px 0 20px;

        span {
            background: white;
            padding: 0 10px;
        }
    }
}

@media(min-width: 1350px) and (max-width: 1800px) {
    .container {
        padding: 0 10% 0 10%;
    }
}

@media(min-width: 1010px) and (max-width: 1350px) {
    .container {
        padding: 0;
    }
}

@media(max-width: 1010px) {
    .container {
        padding: 0;
    }
}