@import "./header";
@import "./index";
@import "./footer";
@import "./item";
@import "./store";
@import "./services";
@import "./contact";

html,body{
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Markazi Text', serif;
    letter-spacing: 3px;
}