header {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  display: block;
  padding: 0 20% 0 20%;
}

header img {
  float: left;
  height: 100px;
  padding: 0;
}

header ul {
  list-style-type: none;
  overflow: hidden;
  height: 100px;
}

header ul li {
  float: right;
  text-align: center;
  vertical-align: middle;
}

header ul li a {
  font-size: 20px;
  color: #1f1d1d;
  display: block;
  text-align: center;
  margin: 48px 30px;
  text-decoration: none;
}

header #menu-icon {
  display: none;
}

@media (max-width: 1320px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    vertical-align: middle;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  header ul {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-left: 0;
    top: 90px;
    background: rgba(255, 255, 255, 0.8);
    padding-bottom: 50px;
    z-index: 1;
  }
  header ul li {
    float: none;
    margin: 0;
  }
  header ul li a {
    margin: 10px 0;
  }
  header #menu-icon {
    display: inline;
    cursor: pointer;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 40px;
  }
}

@media (max-width: 300px) {
  header #menu-icon {
    padding-left: 10px;
  }
}

/* ===== HOME ===== */
.home {
  background: url(../img/violin1.jpg) no-repeat center center/cover;
  color: white;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.home h1 {
  font-size: 80px;
  margin: 10px;
  text-shadow: 2px 2px 4px black;
}

.home p {
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}

.home a {
  background: #e00808;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 1em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.home a:hover {
  background: white;
  color: black;
}

/* ===== CATEGORIES ===== */
.categories {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20% 0 20%;
}

.categories .category {
  width: 240px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.categories .category img {
  width: 240px;
  height: 140px;
}

.categories .category h2 {
  font-size: 18px;
  font-weight: lighter;
}

/* ===== BEST SELLERS ===== */
.best-sellers {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20% 0 20%;
}

.best-sellers .best-seller {
  width: 250px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.best-sellers .best-seller img {
  width: 250px;
}

.best-sellers .best-seller h2 {
  font-size: 20px;
}

.best-sellers .best-seller p {
  font-size: 18px;
}

/* ===== SERVICES ===== */
.services-index {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20% 0 20%;
}

.services-index div {
  width: 350px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
}

.services-index div h1 {
  color: white;
  padding: 1em 1em;
  text-shadow: 2px 2px 4px black;
  text-align: center;
}

.services-index div a {
  background: #e00808;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 1em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.services-index div a:hover {
  background: white;
  color: black;
}

.services-index #service1 {
  background: url(../img/service1.jpg) no-repeat center center/cover;
}

.services-index #service1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/service1.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/service1.jpg) no-repeat center center/cover;
}

.services-index #service2 {
  background: url(../img/service2.jpg) no-repeat center center/cover;
}

.services-index #service2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/service2.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/service2.jpg) no-repeat center center/cover;
}

.services-index #service3 {
  background: url(../img/service3.jpg) no-repeat center center/cover;
}

.services-index #service3:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/service3.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/service3.jpg) no-repeat center center/cover;
}

@media (min-width: 1350px) and (max-width: 1800px) {
  .container {
    padding: 0 10% 0 10%;
  }
  .services-index, .categories, .best-sellers {
    padding: 0 10% 0 10%;
  }
}

@media (min-width: 1010px) and (max-width: 1350px) {
  .container {
    padding: 0;
  }
  .services-index, .categories, .best-sellers {
    padding: 0 10% 0 10%;
  }
}

@media (max-width: 1010px) {
  .container {
    padding: 0;
  }
  .services-index, .categories, .best-sellers {
    padding: 0 10% 0 10%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services-index div {
    width: 250px;
    height: 300px;
    margin-top: 30px;
  }
  .home {
    height: 80vh;
  }
  .home h1 {
    font-size: 60px;
  }
  .home p {
    font-size: 15px;
  }
}

footer {
  clear: both;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #292828;
  color: white;
}

footer p {
  margin-left: auto;
  margin-right: auto;
}

footer .footer-links a {
  font-size: 25px;
  color: #4e4c4c;
  margin: 0px 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

footer .footer-links a:hover {
  color: white;
}

.columns-item {
  margin-top: 100px;
  padding: 0 20% 100vh 20%;
}

.columns-item .left-column-item {
  float: left;
  width: 50%;
  padding-right: 5%;
}

.columns-item .left-column-item img {
  width: 32.5%;
  cursor: pointer;
}

.columns-item .left-column-item .small-img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.columns-item .left-column-item #big-img {
  width: 100%;
  margin-bottom: 60px;
  cursor: auto;
}

.columns-item .right-column-item {
  float: right;
  width: 45%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.columns-item .right-column-item h1 {
  margin: 0;
  font-size: 40px;
}

.columns-item .right-column-item #item-price {
  font-size: 30px;
}

.columns-item .right-column-item p {
  font-size: 20px;
}

.columns-item .right-column-item #quantity {
  border: none;
  background-color: whitesmoke;
  padding: 20px;
}

.columns-item .right-column-item #to-cart-btn {
  background: #e00808;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
  padding: 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.columns-item .right-column-item #to-cart-btn:hover {
  background: black;
}

@media (max-width: 1530px) {
  .columns-item {
    padding: 0 10%;
  }
}

@media (max-width: 1300px) {
  .columns-item {
    padding: 0 5%;
  }
}

@media (max-width: 1025px) {
  .columns-item {
    padding: 0 1% 70vh 1%;
  }
}

@media (max-width: 940px) {
  .columns-item {
    padding: 0 1%;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin: 0;
    width: 100%;
    margin-top: 100px;
  }
  .columns-item .left-column-item {
    float: none;
    width: 600px;
    padding: 0;
  }
  .columns-item .left-column-item img {
    width: 25%;
  }
  .columns-item .left-column-item #big-img {
    width: 100%;
    margin-bottom: 60px;
  }
  .columns-item .right-column-item {
    float: none;
    width: 600px;
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  .right-column-item .about-item {
    padding: 0 10px;
  }
}

.columns-store {
  margin-top: 100px;
  padding: 0 20%;
}

.columns-store .left-column-store {
  float: left;
  width: 20%;
}

.columns-store .left-column-store .category, .columns-store .left-column-store .brand, .columns-store .left-column-store .price {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbd8d8;
}

.columns-store .left-column-store .category h2, .columns-store .left-column-store .brand h2, .columns-store .left-column-store .price h2 {
  font-size: 30px;
  border-bottom: 1px solid  black;
}

.columns-store .left-column-store .search {
  border-bottom: none;
}

.columns-store .left-column-store .search input {
  outline: none;
  border: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #dbd8d8;
}

.columns-store .left-column-store .search button {
  border: none;
  background: black;
  color: white;
  padding: 4px 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.columns-store .left-column-store .search button:hover {
  background: white;
  color: black;
}

.columns-store .left-column-store .category p {
  font-size: 22px;
}

.columns-store .left-column-store .brand input[type="checkbox"] {
  cursor: pointer;
}

.columns-store .left-column-store .brand label {
  font-size: 18px;
}

.columns-store .left-column-store .price .price-inputs {
  border-bottom: none;
  text-align: center;
}

.columns-store .left-column-store .price .price-inputs input {
  border: none;
  outline: none;
  border-bottom: 2px solid #dbd8d8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.columns-store .left-column-store .price .price-inputs input:hover {
  border-color: black;
}

.columns-store .right-column-store {
  float: right;
  width: 75%;
}

.columns-store .right-column-store .item-store {
  border: 1px solid #dbd8d8;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 20px;
}

.columns-store .right-column-store .item-store h2 {
  margin: 0px;
}

.columns-store .right-column-store .item-store:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.columns-store .right-column-store .item-store .item-info-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1250px) and (max-width: 1600px) {
  .columns-store {
    padding: 0 10%;
  }
}

@media (min-width: 1060px) and (max-width: 1250px) {
  .columns-store {
    padding: 0 5%;
  }
}

@media (max-width: 1060px) {
  .columns-store {
    padding: 0 1%;
  }
}

@media (max-width: 980px) {
  .columns-store .left-column-store {
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
  .columns-store .left-column-store div {
    width: 200px;
  }
  .columns-store .left-column-store div h2 {
    text-align: center;
  }
  .columns-store .left-column-store .search {
    text-align: center;
    padding-top: 40px;
    padding-right: 10px;
    width: 100%;
  }
  .columns-store .right-column-store {
    float: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .right-column-store img {
    padding-top: 40px;
  }
}

@media (max-width: 780px) {
  .right-column-store {
    text-align: center;
  }
  .right-column-store .item-info-store {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .right-column-store .item-info-store img {
    width: 100%;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20vh 0;
  padding: 0 20%;
}

.service {
  width: 500px;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dbd8d8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.service:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service img {
  width: 500px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service .service-text h2 {
  padding-left: 20px;
  font-size: 22px;
}

.service .service-text p {
  padding: 20px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

@media (min-width: 1280px) and (max-width: 1700px) {
  .services {
    padding: 0 10%;
  }
}

@media (min-width: 1145px) and (max-width: 1280px) {
  .services {
    padding: 0 5%;
  }
}

@media (max-width: 1145px) {
  .services {
    padding: 0;
  }
}

@media (max-width: 1045px) {
  .services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services .service {
    margin-top: 50px;
  }
}

@media (max-width: 525px) {
  .service {
    width: 400px;
    height: 700px;
  }
  .service img {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 410px) {
  .service {
    width: 300px;
    height: 700px;
  }
  .service img {
    width: 300px;
    height: 150px;
  }
}

@media (max-width: 300px) {
  .service {
    width: 260px;
    height: 700px;
  }
  .service img {
    width: 260px;
    height: 125px;
  }
}

.contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url(../img/map.jpg) no-repeat center center/cover;
  padding: 160px 0;
  margin: 20vh 0;
}

.contact .contact-details {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 0;
}

.contact .contact-details h2 {
  color: white;
  font-size: 30px;
  text-shadow: 0px 0px 20px black, 0px 0px 10px black, 0px 0px 5px black;
  margin: 5px 0;
}

.contact .contact-details i {
  margin-top: 10px;
  color: white;
  font-size: 30px;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Markazi Text', serif;
  letter-spacing: 3px;
}

/* ===== CONTAINER ===== */
.container {
  padding: 0 20% 0 20%;
}

.container .titles {
  font-size: 25px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.container .titles span {
  background: white;
  padding: 0 10px;
}

@media (min-width: 1350px) and (max-width: 1800px) {
  .container {
    padding: 0 10% 0 10%;
  }
}

@media (min-width: 1010px) and (max-width: 1350px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 1010px) {
  .container {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */