header {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  display: block;
}

header h1 {
  float: left;
  margin: 5px 0 0 5px;
  padding: 0;
  font-size: 50px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li {
  float: right;
}

header ul li a {
  font-size: 20px;
  color: #1f1d1d;
  display: block;
  text-align: center;
  margin: 23px 30px;
  text-decoration: none;
}

/* ===== HOME ===== */
.home {
  background: url(../img/violin1.jpg) no-repeat center center/cover;
  color: white;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.home h1 {
  font-size: 80px;
  margin: 10px;
  text-shadow: 2px 2px 4px black;
}

.home p {
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
}

.home a {
  background: #e00808;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 1em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.home a:hover {
  background: white;
  color: black;
}

/* ===== CATEGORIES ===== */
#categories-h1 {
  font-size: 25px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

#categories-h1 span {
  background: white;
  padding: 0 10px;
}

.categories {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories .category {
  width: 240px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.categories .category img {
  width: 240px;
  height: 140px;
}

.categories .category h2 {
  font-size: 18px;
  font-weight: lighter;
}

/* ===== BEST SELLERS ===== */
#best-sellers-h1 {
  font-size: 25px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

#best-sellers-h1 span {
  background: white;
  padding: 0 10px;
}

.best-sellers {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best-sellers .best-seller {
  width: 250px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.best-sellers .best-seller img {
  width: 250px;
}

.best-sellers .best-seller h2 {
  font-size: 20px;
}

.best-sellers .best-seller p {
  font-size: 18px;
}

/* ===== SERVICES ===== */
.services {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services div {
  width: 350px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
}

.services div h1 {
  color: white;
  padding: 1em 1em;
  text-shadow: 2px 2px 4px black;
  text-align: center;
}

.services div a {
  background: #e00808;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 1em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.services div a:hover {
  background: white;
  color: black;
}

.services #service1 {
  background: url(../img/service1.jpg) no-repeat center center/cover;
}

.services #service1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/service1.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/service1.jpg) no-repeat center center/cover;
}

.services #service2 {
  background: url(../img/service2.jpg) no-repeat center center/cover;
}

.services #service2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/service2.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/service2.jpg) no-repeat center center/cover;
}

.services #service3 {
  background: url(../img/service3.jpg) no-repeat center center/cover;
}

.services #service3:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/service3.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/service3.jpg) no-repeat center center/cover;
}

footer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: white;
}

footer p {
  margin-left: auto;
  margin-right: auto;
}

footer a {
  font-size: 30px;
  color: #2c2a2a;
  margin: 0px 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

footer a:hover {
  color: white;
}

body {
  padding: 0 20% 0 20%;
  margin: 0;
  font-family: 'Markazi Text', serif;
  letter-spacing: 3px;
}
/*# sourceMappingURL=style.css.map */